<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
   

<ion-content padding>
  <!-- <section class="title-wrap">
    <h1 id="title">{{localVarService.main.title}}</h1>
    <h2 id="subtitle">{{localVarService.main.subtitle}}</h2>
  </section>
  <section class="card-background-page">
    <ion-grid>
      <ion-row *ngIf="localVarService.main.cards">
        <ion-col *ngFor="let card of localVarService.main.cards; let i = index" col-12 col-md-6 col-lg-4 col-xl-3>
          <ion-card>
            <ion-card-content>
              <img src="../../assets/imgs/{{card.imgUrl}}"/>
              <div class="card-title">{{card.title}}</div>
              <div class="card-subtitle">{{card.description}}</div>
            </ion-card-content>
            <ion-row no-padding>
              <ion-col text-right>
                <button ion-button clear small color="danger" icon-start>
                  <ion-icon name='share-alt'></ion-icon>
                  {{localVarService.main.btn_txt_more}}
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section> -->


<button (click)="write(variables)">var</button>
<button (click)="write(variables)">main</button>
<button (click)="console.log(variables.cards)">cards</button>
  
</ion-content>
