<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section class="card-background-page">
    <ion-grid>
      <ion-row *ngIf="variables.rooms">
        <ion-col *ngFor="let room of objectKeys(variables.rooms); let i = index" col-12>
          <ion-card>
            <ion-card-content>
              <img src="../../assets/imgs/rooms/{{variables.rooms[room].images[0]}}" *ngIf="variables.rooms[room].images; else placeholder"/>
              <ng-template #placeholder>
                <img src="https://dummyimage.com/mediumrectangle/222222/eeeeee" style="border: solid 1px whitesmoke"/>
              </ng-template>
              <div class="card-title" style="font-size: 5vw;">{{variables.rooms[room].name}}</div>
              <div class="card-subtitle" style="font-size: 120%;">{{variables.rooms[room].subtitle}}</div>
            </ion-card-content>
            <ion-row no-padding>
              <ion-col text-center>
                <button ion-button icon-start clear small *ngIf="variables.rooms[room].available; else unavailable">
                  <ion-icon name="checkmark"></ion-icon>
                  <div>Book for today</div>
                </button>
                <ng-template #unavailable>
                  <button ion-button icon-start clear small disabled>
                    <ion-icon name="close"></ion-icon>
                    <div>Booked for today</div>
                </button>
                </ng-template>
              </ion-col>
              <ion-col center text-center>
                <button ion-button icon-end clear small color="light">
                  <div>More</div>
                  <ion-icon name="arrow-dropright"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
