<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <section class="title-wrap">
    <h1 id="title">{{main.title}}</h1>
    <h2 id="subtitle">{{main.subtitle}}</h2>
  </section>
  <section class="card-background-page">
    <ion-grid>
      <ion-row *ngIf="main.cards">
        <ion-col *ngFor="let card of main.cards; let i = index" col-12 col-md-6 col-lg-4 col-xl-3>
          <ion-card>
            <ion-card-content>
              <img src="../../assets/imgs/{{card.imgUrl}}"/>
              <div class="card-title">{{card.title}}</div>
              <div class="card-subtitle">{{card.description}}</div>
            </ion-card-content>
            <ion-row no-padding>
              <ion-col text-right>
                <button ion-button clear small color="danger" icon-start>
                  <ion-icon name='share-alt'></ion-icon>
                  {{main.btn_txt_more}}
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

